<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/icon.png">
  </head>
  <body class="font-poppins">
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
      <div class="mx-auto max-w-2xl">
        <div class="text-center">
          <h2 class="text-xl text-gray-800 font-bold sm:text-3xl">
            Edit Password
          </h2>
        </div>
        <div class="mt-5 p-4 relative z-10 bg-white border rounded-xl sm:mt-10 md:p-10">
          <form action="/changePassword" method="POST">
            <div class="mb-4 sm:mb-8">
              <label for="currentPassword" class="block mb-2 text-sm font-light">Password Lama</label>
              <input
                type="password"
                id="currentPassword"
                name="currentPassword"
                class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                placeholder="password lama"
              />
            </div>
            <div class="mb-4 sm:mb-8">
              <label for="newPassword" class="block mb-2 text-sm font-light">Password Baru</label>
              <input
                type="password"
                id="newPassword"
                name="newPassword"
                class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                placeholder="password lama"
              />
            </div>
            <div class="mb-4 sm:mb-8">
              <label for="confirmPassword" class="block mb-2 text-sm font-light">Konfirmasi Password</label>
              <input
                type="password"
                id="confirmPassword"
                name="confirmPassword"
                class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                placeholder="konfirmasi password"
              />
            </div>
            <div class="mt-5 flex justify-end gap-x-2">
              <button
                onclick="javascript:history.back()"
                type="button"
                class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
              >
                Cancel
              </button>
              <button
                type="submit"
                class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700 disabled:opacity-50 disabled:pointer-events-none"
              >
                Save changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script>
      const form = document.querySelector("form");
      form.addEventListener("submit", async (event) => {
        event.preventDefault();
        const currentPassword = document.getElementById("currentPassword").value;
        const newPassword = document.getElementById("newPassword").value;
        const confirmPassword = document.getElementById("confirmPassword").value;
        if (newPassword !== confirmPassword) {
          Swal.fire("Error", "Password baru dan konfirmasi password tidak cocok", "error");
          return;
        }
        try {
          const response = await fetch("/changePassword", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ currentPassword, newPassword }),
          });
          const data = await response.json();
          if (response.ok) {
            Swal.fire("Sukses", data.message, "success").then(() => {
              window.location.href = "/mahasiswa/profile";
            });
          } else {
            Swal.fire("Error", data.message, "error");
          }
        } catch (error) {
          console.error("Terjadi kesalahan:", error);
          Swal.fire("Error", "Terjadi kesalahan server", "error");
        }
      });
    </script>
    <script src="sweetalert2.all.min.js"></script>
  </body>
</html>
