<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/images/icon.png">

  </head>
  <body class="font-poppins w-full h-full">
    <div class="relative overflow-hidden">
      <div
        class="mx-auto max-w-screen-md py-12 px-4 sm:px-6 md:max-w-screen-xl md:py-20 lg:py-32 md:px-8"
      >
        <div class="md:pe-8 md:w-1/2 xl:pe-0 xl:w-5/12">
          <h1
            class="text-3xl text-pink-900 font-bold md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight"
          >
            Website Pengelolaan Inventory PinkWish <span class="text-pink-900">FTI</span>
          </h1>
          <form id="loginForm">
            <div class="my-4">
              <label for="username" class="block text-sm font-light mb-3"
                >Username</label
              >
              <input
                type="text"
                id="username"
                name="username"
                class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                placeholder="Username"
              />
            </div>

            <div class="mb-4">
              <label for="hs-toggle-password" class="block text-sm mb-2"
                >Password</label
              >
              <div class="relative">
                <input
                  id="hs-toggle-password"
                  type="password"
                  name="password"
                  placeholder="password"
                  class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                />
                <button
                  type="button"
                  data-hs-toggle-password='{"target": "#hs-toggle-password"}'
                  class="absolute top-0 end-0 p-3.5 rounded-e-md"
                >
                  <svg
                    class="flex-shrink-0 size-3.5 text-gray-400"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path
                      class="hs-password-active:hidden"
                      d="M9.88 9.88a3 3 0 1 0 4.24 4.24"
                    ></path>
                    <path
                      class="hs-password-active:hidden"
                      d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"
                    ></path>
                    <path
                      class="hs-password-active:hidden"
                      d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"
                    ></path>
                    <line
                      class="hs-password-active:hidden"
                      x1="2"
                      x2="22"
                      y1="2"
                      y2="22"
                    ></line>
                    <path
                      class="hidden hs-password-active:block"
                      d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"
                    ></path>
                    <circle
                      class="hidden hs-password-active:block"
                      cx="12"
                      cy="12"
                      r="3"
                    ></circle>
                  </svg>
                </button>
              </div>
            </div>

            <div class="grid">
              <button
                type="submit"
                class="mt-11 py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-pink-300 text-white hover:bg-pink-300 disabled:opacity-50 disabled:pointer-events-none"
              >
                Sign in
              </button>
            </div>
          </form>
        </div>
      </div>

      <div
        class="hidden md:block md:absolute md:top-0 md:start-1/2 md:end-0 h-full bg-[url('/images/logoo.png')] bg-no-repeat bg-center bg-cover"
      ></div>
    </div>

    <script src="/sweetalert2.all.min.js"></script>
    <script>
      document
        .getElementById("loginForm")
        .addEventListener("submit", async function (e) {
          e.preventDefault();

          const username = document.getElementById("username").value;
          const password = document.getElementById("hs-toggle-password").value;

          try {
            const response = await fetch("/auth/login", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ username, password }),
            });

            const result = await response.json();

            if (response.ok) {
              Swal.fire({
                icon: "success",
                title: "Login successful",
                text: "You will be redirected shortly",
                showConfirmButton: false,
                timer: 1500,
              }).then(() => {
                window.location.href = result.redirectUrl;
              });
            } else {
              Swal.fire({
                icon: "error",
                title: "Login failed",
                text: result.message,
              });
            }
          } catch (error) {
            console.error("Error during login:", error);
            Swal.fire({
              icon: "error",
              title: "Internal server error",
              text: "Please try again later",
            });
          }
        });
    </script>
    <script src="/preline.js"></script>
  </body>
</html>
